<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dbwatch.default</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/dbwatch</string>
    <string>daemon</string>
    <string>start</string>
    <string>--name</string>
    <string>default</string>
    <string>--db-url</string>
    <string>postgres://test:test@localhost:5432/test?sslmode=disable&amp;replication=database</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/dbwatch-default.out.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/dbwatch-default.err.log</string>
</dict>
</plist>
